extends layout

block content
  .pure-g
    .pure-u-1
      h2= title
      form#f_login(class=['pure-form','pure-form-stacked'], action='', method='POST')
        label.npp(for='email', name='emailLabel') eMail Address:
        input.npp(id='email', name='email', placeholder='authorized eMail')
        button.pure-button.pure-button-primary(type='submit', id='login') Login
  if errors
    .pure-g
      div(class=['pure-u-1','pure-md-1-2'])
        each val in errors
          p#error= val
