extends layout

block content
  div(class=['pure-g','padded-box'])
    .pure-u-1
      h1= title
  div(class=['pure-g','padded-box'])
    div.pure-u-1(class='pure-u-sm-6-12')
      h4 Welcome
      p This is a profile page. Viewable only if you're logged in, I hope.
