extends layout

block content
  .pure-g
    .pure-u-1
      h1= title
  .pure-g
    div.pure-u-1(class='pure-u-sm-6-12')
      h4 Welcome
      case title
        when 'User index'
          p This is an index file for user actions.
          .links
            a(href='/users/login') Login
        when 'Register'
          p This is a form to register you're happy self.
          if errorsJSON
            p(class=['errors','psql'])= errorsJSON.detail
          if errorsArray
            each val in errorsArray
              p(class=['errors','check'])= val.msg
          form#f_register(class=['pure-form','pure-form-stacked'], action='/users/register',method='POST')
            label.npp(for='email', name='emailLabel') eMail Address:
            input.npp(type='email',name='email',id='email',placeholder='eMail')
            label.npp(for='password', name='passwordLabel') Password:
            input.npp(type='password',name='password',id='password',placeholder='Password')
            label.npp(for='passwordMatch', name='passwordMatchLabel') Re-enter Password:
            input.npp(type='password',name='passwordMatch',id='passwordMatch',placeholder='Re-enter Password')
            button.pure-button.pure-button-primary(type='submit', id='register') Register
        when 'Registration Complete'
          p.errors= complete
          p: a(href='/users/login') Login
        when 'Login'
          p Are you registered? Go ahead and login. If not, maybe 
            a(href='/users/register') register a new email
            | .
          form#f_login(class=['pure-form','pure-form-stacked'], action='', method='POST')
            label.npp(for='email', name='emailLabel') eMail Address:
            input.npp(id='email', name='email', placeholder='authorized eMail')
            button.pure-button.pure-button-primary(type='submit', id='login') Login
